.Home {
  background-image: url("https://images.unsplash.com/photo-1581591524425-c7e0978865fc?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-size:  100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* .Cameras{
  background-color: pink;
} */